# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac OS X
.DS_Store
._.*
._*

# Windows
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?
.project
.settings
tags
nbproject/*

# Others
node_modules
*.local
*.zip
.eslintcache
.qodo
temp
_temp
_docs
dist
coverage
