.toolbox {
    --bg           : #ccc9c9;
    --bg_dark      : #000;
    position       : fixed;
    bottom         : 0;
    width          : 100%;
    display        : flex;
    padding        : 0 2vw;
    background     : var(--bg);
    align-items    : center;
    justify-content: space-between;

    .dark & {
        background: var(--bg_dark);
    }
}