.ms-grid {
    display       : inline-grid;
    user-select   : none;
    border        : 3px inset var(--border-color);
    pointer-events: none;

    .dark & {
        border-color: var(--border-color_dark);
    }

    .minesweeper._running & {
        pointer-events: all;
    }
}